@charset "UTF-8";
/*import google font*/
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/***/
/*cores root*/
:root {
  --black-color:#121212;
  --white-color:#fafafafa;
  --color-mobile:#f1f1f1;
  --green-color:#fd7e00;
  --price-color:#09ba09;
  --border-footer:3px solid #cecdcd;
  --opacity-color:rgba(0,0,0,0.6) ;
}

/****/
/*resete do style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}

html, body {
  position: relative;
  background-color: var(--white-color);
}

/***/
/*seção header*/
header.wraper {
  width: 100%;
  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}
.logo h2 {
  color: var(--green-color);
  font-size: 1.8em;
  font-weight: 700;
  font-family: "Roboto";
}

nav.desktop ul {
  display: flex;
}
nav.desktop li {
  padding: 8px 10px;
  font-size: 1.4em;
  font-weight: 500;
  font-family: "Roboto";
}
nav.desktop a {
  color: var(--black-color);
}
nav.desktop a:hover {
  color: var(--green-color);
}

nav.menu-mobile {
  display: none;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

nav.menu-mobile ul {
  display: none;
  width: 100%;
  position: absolute;
  text-align: center;
  border-radius: 8px;
  top: 164px;
  left: 0;
  background-color: var(--color-mobile);
  z-index: 2;
}
nav.menu-mobile li {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  font-family: "Poppins";
}
nav.menu-mobile li:hover {
  background-color: var(--opacity-color);
}
nav.menu-mobile a {
  color: var(--black-color);
}
nav.menu-mobile a:hover {
  color: var(--green-color);
}

/****/
/*seção lançamentos*/
section.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.title {
  text-align: center;
  padding: 30px 0;
}

.title h1 {
  font-size: 3.5em;
  color: var(--black-color);
  font-family: "Roboto";
  font-weight: 700;
}

.rowProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 20px;
}

.rowProducts .product-launch {
  text-align: center;
  cursor: pointer;
}
.rowProducts .product-launch h2 {
  color: var(--green-color);
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Roboto";
}
.rowProducts .product-launch .price {
  color: var(--price-color);
  font-size: 1.2em;
  margin-top: 8px;
  font-family: "Roboto";
}
.rowProducts .product-launch .price-standard {
  color: var(--black-color);
  font-size: 1em;
  margin-top: 8px;
  text-decoration: line-through;
}
.rowProducts .product-launch .btn-product {
  margin-top: 8px;
  border: none;
  background-color: #fd7e00;
  padding: 10px 30px;
  color: var(--black-color);
  font-size: 1em;
  font-family: "Roboto";
  border-radius: 20px;
  cursor: pointer;
}
.rowProducts .product-launch button.btn-product:hover {
  animation-name: anime;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes anime {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/****/
/*footer*/
footer.footer {
  width: 100%;
  height: 200px;
  margin-top: 20%;
  border-top: var(--border-footer);
}

.row-wraper {
  display: flex;
  padding: 30px 0;
  justify-content: space-around;
}

.row h1 {
  color: var(--black-color);
  font-size: 2.1em;
  font-weight: bold;
  font-family: "Roboto";
  margin-bottom: 8px;
}
.row p {
  margin-top: 8px;
}
.row p > a {
  color: var(--green-color);
  font-size: 1.2em;
  font-family: "Roboto";
  font-weight: 700;
}
.row p > a:hover {
  color: var(--black-color);
}

/*media queries do footer*/
@media screen and (max-width: 800px) {
  .row-wraper {
    padding: 30px 5%;
    text-align: center;
    flex-direction: column;
  }
  #social-share {
    margin-top: 10px;
  }
  .row:nth-of-type(2) {
    margin-top: 20px;
  }
  .row:nth-of-type(3) {
    margin-top: 20px;
  }
}
/****/
/****/
/* media queries */
@media screen and (max-width: 984px) {
  .rowProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 3em;
    color: var(--black-color);
    font-family: "Roboto";
    font-weight: 700;
  }
  nav.desktop ul {
    display: flex;
  }
  nav.desktop li {
    font-size: 1.2em;
  }
  .product-launch img {
    width: 90%;
  }
}
@media screen and (max-width: 580px) {
  footer.footer {
    width: 100%;
    height: 668px;
    margin-top: 20%;
  }
  .logo img {
    width: 150px;
  }
  .logo h2 {
    color: var(--green-color);
    font-size: 1.3em;
    font-weight: 700;
    font-family: "Roboto";
  }
  nav.desktop {
    display: none;
  }
  .title h1 {
    font-size: 2.2em;
  }
  .rowProducts {
    grid-template-columns: repeat(1, 1fr);
  }
  nav.desktop ul {
    display: flex;
  }
  nav.desktop li {
    padding: 8px 4px;
    font-size: 0.8em;
  }
  nav.menu-mobile {
    display: block;
  }
}
/****//*# sourceMappingURL=style.css.map */